.reveal section del {
  color: green;
}

.section .reveal .state-background {
    background: steelblue;}
    

.reveal h1, .reveal h2, .reveal h3{
        word-wrap: normal;
        -moz-hyphens: none;
}

.section .reveal p {
    color: white;
    position: relative;
    top: 4%;}
    
